@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,700");
html, body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif; }

.container {
  background-color: #dddddd;
  padding: 2rem 0;
  width: 8.5in; }
  .container > header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }

.mugshot {
  background-image: url("/headshot.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 1rem 0 0 2rem;
  height: 100px;
  width: 100px; }

.jumbo {
  color: #ffffff;
  background-color: #364c78;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.1rem 1rem;
  width: 80%; }
  .jumbo h1 {
    margin-bottom: 0; }
  .jumbo h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0; }
  .jumbo hr {
    border-top: 1px solid #ffffff;
    width: 40%;
    margin-right: 75%; }
  .jumbo p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem; }

.page-break {
  display: block;
  margin-top: 2rem;
  page-break-before: always; }

.page-num {
  color: #555555;
  margin-top: 1rem;
  text-align: right; }

ul.contact {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1rem;
  margin-left: 25%; }
  ul.contact li {
    font-size: smaller;
    margin-right: 2rem; }
    ul.contact li i {
      color: #364c78;
      padding-right: 0.3rem; }

main {
  margin: 1rem; }

article {
  margin-top: 2rem; }
  article section {
    margin-top: 1rem; }
  article header {
    margin-bottom: 1rem; }
  article h1 {
    border-bottom: 1px solid #364c78;
    color: #364c78;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  article h2 {
    color: #364c78;
    font-size: 1.3rem;
    margin-bottom: 0; }
  article h3 {
    margin-bottom: 0;
    font-weight: 400; }
  article ul {
    list-style-type: square; }
  article ul.bubbles {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0; }
    article ul.bubbles li {
      background-color: #364c78;
      border-radius: 4px;
      color: #ffffff;
      font-size: small;
      padding: 0.1rem 0.5rem;
      margin: 0 0.3rem 0.5rem 0; }
  article .business-desc {
    color: #555555;
    font-size: smaller;
    font-style: italic; }
  article .date-location {
    color: #364c78;
    font-size: smaller;
    margin-bottom: 0; }

@media screen {
  body {
    background-color: #dddddd; }
  .container {
    background-color: #ffffff;
    margin: 3rem auto; }
  .page-break {
    margin-top: 0; }
  .page-num {
    display: none; } }

@media print {
  html, body {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    font-size: 125%;
    margin: 0;
    padding: 0; }
  .container {
    background-color: #ffffff;
    width: 100%; }
  .mugshot {
    margin: 0.5rem 0 0 3rem;
    height: 200px;
    width: 200px; }
  .jumbo h1 {
    font-size: 3rem; }
  .jumbo h2 {
    font-size: 1.7rem; }
  .jumbo p {
    font-size: 1rem; }
  ul.contact {
    margin-left: 20%; }
  main {
    margin-top: 0;
    padding: 0 2.5rem; }
  article h1 {
    font-size: 2.2rem; }
  article h2 {
    font-size: 1.7rem;
    font-weight: 400; }
  article h3 {
    font-size: 1.3rem; }
  article ul.bubbles li {
    font-size: 1.5rem; }
  article .tasks {
    font-size: 1.3rem; } }
