@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,700');

$primary-color: #364c78;
$medium-color: #dddddd;
$dark-color: #555555;
$light-color: #ffffff;
$dark-font-color: #555555; 
$light-font-color: #ffffff;
$primary-font-family: 'Montserrat', Arial, Helvetica, sans-serif;
$print-font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

html, body {
  font-family: $primary-font-family;
}

.container {
  background-color: $medium-color;
  padding: 2rem 0;
  width: 8.5in;

  >header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.mugshot {
  background-image: url('/headshot.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 1rem 0 0 2rem;
  height: 100px;
  width: 100px;
}

.jumbo {
  color: $light-font-color;
  background-color: $primary-color;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.1rem 1rem;
  width: 80%;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
  }

  hr {
    border-top: 1px solid $light-font-color;
    width: 40%;
    margin-right:75%;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}

.page-break {
  display: block;
  margin-top: 2rem;
  page-break-before: always;
}

.page-num {
  color: $dark-font-color;
  margin-top: 1rem;
  text-align: right;
}

ul.contact {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1rem;
  margin-left: 25%;

  li {
    font-size: smaller;
    margin-right: 2rem;

    i {
      color: $primary-color;
      padding-right: 0.3rem;
    }
  }
}

main {
  margin: 1rem;
}

article {
  margin-top: 2rem;

  section {
    margin-top: 1rem;
  }

  header {
    margin-bottom: 1rem;
  }

  h1 {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  
  h2 {
    color: $primary-color;
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 0;
    font-weight: 400;
  }

  ul {
    list-style-type: square;
  }

  ul.bubbles {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;

    li {
      background-color: $primary-color;
      border-radius: 4px;
      color: $light-font-color;
      font-size: small;
      padding: 0.1rem 0.5rem;
      margin: 0 0.3rem 0.5rem 0;
    }
  }

  .business-desc {
    color: $dark-font-color;
    font-size: smaller;
    font-style: italic;
  }

  .date-location {
    color: $primary-color;
    font-size: smaller;
    margin-bottom: 0;
  }
}

@media screen {
  body {
    background-color: $medium-color;
  }

  .container {
    background-color: $light-color;
    margin: 3rem auto;
  }

  .page-break {
    margin-top: 0;
  }

  .page-num {
    display: none;
  }
}

@media print {
  html,body {
    font-family: $print-font-family;
    background-color: $light-color;
    font-size:125%;
    margin: 0;
    padding: 0;
  }

  .container {
    background-color: $light-color;
    width: 100%;
  }

  .mugshot {
    margin: 0.5rem 0 0 3rem;
    height: 200px;
    width: 200px;
  }

  .jumbo {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.7rem;
    }

    p {
      font-size: 1rem;
    }
  }

  ul.contact {
    margin-left: 20%;
  }

  main {
    margin-top: 0;
    padding: 0 2.5rem;
  }

  article {
    h1 {
      font-size: 2.2rem;
    }

    h2 {
      font-size: 1.7rem;
      font-weight: 400;
    }

    h3 {
      font-size: 1.3rem;
    }

    ul.bubbles {
      li {
        font-size: 1.5rem;
      }
    }

    .tasks {
      font-size: 1.3rem;
    }
  }
}